BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
UseTab: Always
TabWidth: 4
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4

AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: true

IndentCaseLabels: true
AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Right
QualifierAlignment: Left
PointerAlignment: Left
ReferenceAlignment: Pointer

PenaltyReturnTypeOnItsOwnLine: 1000
AlwaysBreakTemplateDeclarations: true
BreakConstructorInitializers: AfterColon

BinPackArguments: false
PackConstructorInitializers: CurrentLine

IncludeBlocks: Regroup
